header#main-header {
  width: 100%;
  height: 60px;
  background: #e83d5d;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
